<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--
██      ██ ███████ ████████     ███████  ██████  ██████  ████████ ██ ███    ██  ██████
██      ██ ██         ██        ██      ██    ██ ██   ██    ██    ██ ████   ██ ██
██      ██ ███████    ██        ███████ ██    ██ ██████     ██    ██ ██ ██  ██ ██   ███
██      ██      ██    ██             ██ ██    ██ ██   ██    ██    ██ ██  ██ ██ ██    ██
███████ ██ ███████    ██        ███████  ██████  ██   ██    ██    ██ ██   ████  ██████
-->
<div th:fragment="listColumnOrder(pageable)">
  <script>
    /**
     * 목록 칼럼 Sorting 기능 적용
     * @param {int} pageSize
     * @param {string} sort
     */
    function applyColumnOrdering(pageSize, orderBy, orderDesc) {

      $('.orderable').each(function (i, el) {
        var _orderBy = $(el).data('sort-field');

        // 현재 sort 조건과 동일한 칼럼일 경우
        if (_orderBy === orderBy) {

          $(el).parent().append(orderDesc === 'DESC' ?
              $('<i class="bi bi-arrow-down-circle-fill ms-1"></i>') :
              $('<i class="bi bi-arrow-up-circle-fill ms-1"></i>'));

          $(el).click(function () {
            goPageable(0, pageSize, orderBy, (orderDesc === 'DESC' ? 'ASC' : 'DESC'));
            return false;
          });
          $(el).css('color', 'black');
        } else {
          $(el).click(function () {
            goPageable(0, pageSize, $(el).data('sort-field'), 'DESC');
            return false;
          });
        }
      });
    }

    applyColumnOrdering([[${pageable.pageSize}]], '[[${pageable.orderBy}]]', '[[${pageable.orderDir}]]');
  </script>
</div>

<!--
██████   █████   ██████  ██ ███    ██  █████  ████████ ██  ██████  ███    ██
██   ██ ██   ██ ██       ██ ████   ██ ██   ██    ██    ██ ██    ██ ████   ██
██████  ███████ ██   ███ ██ ██ ██  ██ ███████    ██    ██ ██    ██ ██ ██  ██
██      ██   ██ ██    ██ ██ ██  ██ ██ ██   ██    ██    ██ ██    ██ ██  ██ ██
██      ██   ██  ██████  ██ ██   ████ ██   ██    ██    ██  ██████  ██   ████
-->
<div th:fragment="pagination(pageable)">
  <div class="row">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${!pageable.previous} ? 'disabled'">
          <a class="page-link"
             th:href="|javascript:goPageable(${pageable.pageNumber - 1}, ${pageable.pageSize}, '${pageable.orderBy}', '${pageable.orderDir}')|">이전</a>
        </li>
        <li th:each="idx : ${#numbers.sequence(0, pageable.totalPages == 0 ? 0 :  pageable.totalPages - 1)}" class="page-item"
            th:classappend="${idx == pageable.pageNumber} ? 'disabled'">
          <a class="page-link"
             th:href="|javascript:goPageable(${idx}, ${pageable.pageSize}, '${pageable.orderBy}', '${pageable.orderDir}')|"
             th:text="${idx+1}">페이지넘버</a>
        </li>
        <li class="page-item"
            th:classappend="${!pageable.next} ? 'disabled'">
          <a class="page-link"
             th:href="|javascript:goPageable(${pageable.pageNumber + 1}, ${pageable.pageSize}, '${pageable.orderBy}', '${pageable.orderDir}')|">다음</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

</body>

</html>
