package #package;

import lombok.RequiredArgsConstructor;
import #cmdPackage.#domainNm;
import #cmdPackage.#domainNmCmd;
import #portPackage.#domainNmPortOut;
import java.util.Optional;
import org.springframework.stereotype.Repository;

@Repository
@RequiredArgsConstructor
class #domainNmDao implements #domainNmPortOut {
  @Override
  public Optional<#domainNm> operate(#domainNmCmd command) {
    return Optional.empty();
  }
}