package #package;

import lombok.RequiredArgsConstructor;
import #cmdPackage.#domainNm;
import #cmdPackage.#domainNmCmd;
import #portPackage.#domainNmPortOut;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.PageImpl;
import org.springframework.stereotype.Repository;

@Repository
@RequiredArgsConstructor
public class #domainNmDao implements #domainNmPortOut {

  @Override
  public Page<#domainNm> operate(Pageable pageable, #domainNmCmd command) {
    return new PageImpl<>(null, null, 0);
  }
}
