package #package;

import lombok.RequiredArgsConstructor;
import #cmdPackage.#domainNmCmd;
import #portPackage.#domainNmPortIn;
import #portPackage.#domainNmPortOut;
import org.springframework.stereotype.Service;

@Service
@RequiredArgsConstructor
public class #domainNmService implements #domainNmPortIn {
  private final #domainNmPortOut portOut;

  @Override
  public void operate(#domainNmCmd command) {
    portOut.operate(command);
  }
}