package #package;

import lombok.RequiredArgsConstructor;
import #cmdPackage.#domainNmCmd;
import #portPackage.#domainNmPortOut;
import org.springframework.stereotype.Repository;

@Repository
@RequiredArgsConstructor
class #domainNmDao implements #domainNmPortOut {
  @Override
  public void operate(#domainNmCmd command) {
  }
}