<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      th:label="${currentURI != null ? currentURI.id + '-label' : ''}">

<head th:replace="common/components :: head"></head>

<body>
<header th:replace="common/components :: header"></header>

<div class="container">
  <div th:replace="common/components :: breadcrumb"></div>
  <div th:replace="common/components :: pageHeading"></div>
  <div th:replace="common/components :: operationMessage"></div>

  <section layout:fragment="content" class="container">
    page content
  </section>
</div>

<div th:replace="common/components :: footer"></div>

<section layout:fragment="script"></section>

</body>
</html>
