<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">

<section layout:fragment="content">
  <form
      th:action="${'/board/articles/create'}"
      method="post" class="fw-bold" name="reqForm">

    <div class="container">
      <div class="row mb-3">
        <label class="form-label" for="title">제목 *</label>
        <div class="input-group w-50">
          <input id="title" class="form-control unescapeText" name="title"/>
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label" for="boardStartDate">게시일 *</label>
        <div class="input-group w-25">
          <input id="boardStartDate" class="form-control flatpickr" name="startDate"
                 type="text" placeholder="게시일을 선택하세요"/>
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
        <div class="input-group w-25">
          <input id="boardEndDate" class="form-control flatpickr" name="endDate"
                 type="text" placeholder="종료일을 선택하세요"/>
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label" for="open">공개여부</label>
        <div class="input-group w-25">
          <select class="form-select" name="visible" id="open">
            <option value="true">Y</option>
            <option value="false">N</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="content">내용 *</label>
        <div class="input-group w-75">
          <textarea class="form-control" id="content" rows="10" name="content"></textarea>
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
      </div>

      <div class="mb-3 mt-4">
        <label for="representImgFile" class="form-label d-block">대표 이미지</label>
        <div class="input-group w-50">
          <input class="form-control" type="file" id="representImgFile"
                 name="representImgFile">
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
        <div class="input-group w-50 mt-2">
          <input type="text" class="form-control" name="repImgAlt"
                 placeholder="alt text"/>
        </div>
      </div>

      <div class="mb-3 mt-4 publicFileInputs">
        <label for="formFile1" class="form-label d-block">다건 파일 첨부</label>
        <div class="input-group w-50" style="float:left;">
          <input class="form-control mb-2" type="file" name="multipartAttachments"
                 id="formFile1">
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
        <div class="input-group w-50" style="float:right;padding-left:10px;">
          <button type="button" class="btn btn-success d-inline-block align-top"
                  onclick="addFileInput('public');">추가
          </button>
        </div>
        <div style="clear: both;"></div>
      </div>

      <div class="mb-3 mt-4 privateFileInputs">
        <label for="filePrivate" class="form-label d-block">private 파일 첨부 (외부 비공개)</label>
        <div class="input-group w-50">
          <input class="form-control" type="file"
                 name="multipartPrivateAttachment"
                 id="filePrivate">
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary float-end" onclick="goSave();">저장</button>
    <button type="button" class="btn btn-light" onclick="gotoList();return false;">목록으로 이동</button>
  </form>
</section>

<section layout:fragment="script">
  <script>
    const goSave = () => {
      const f = document.reqForm;
      f.content.value = tinymce.get('content').getContent();

      const obj = $(f).serializeObject();

      $.ajax({
        'method': 'POST',
        'url': '/api/board/articles/create',
        'data': obj,
        success: (response) => {

        },
        statusCode: {
          // error
          400: function (response) {
            const resJson = response.responseJSON;
            alert(resJson.message);
          },
          // validation fail
          422: function (response) {
            $(response.responseJSON).each((idx, oj) => {
              let target = $(f).find('[name=' + oj.field + ']');
              target.addClass('is-invalid');

              if (target[0].nodeName === 'TEXTAREA') {
                // textarea 의 경우, tinymce 가 중간에 삽입되기에 한단계 더 이동해야한다.
                target.next().next().text(oj.defaultMessage);
              } else {
                target.next().text(oj.defaultMessage);
              }
            });
          }
        }
      });
    }
  </script>
  <script>
    function gotoList() {
      document.prevParamForm ? document.prevParamForm.submit()
          : location.href = '/board/exampleBoard';
    }

    function addFileInput(type) {
      let tmpl = $.templates('#fileInputTmpl');
      switch (type) {
        case 'public':
          $('.publicFileInputs').append(tmpl.render({'name': 'multipartAttachments'}));
          break;
        case 'private':
          $('.privateFileInputs').append(tmpl.render({'name': 'privateFiles'}));
          break;
      }
    }
  </script>

  <script id="fileInputTmpl" type="text/x-jsrender">
		<input class="form-control w-50 mb-2" type="file" name="{{:name}}"/>








  </script>

  <!-- web editor - tinymce -->
  <script src="/static/library/tinymce/6.0.3/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="/static/ui/editorImageUpload.js"></script>
  <script th:inline="javascript">
    // init tinymce editor
    initEditor('#content', (editor) => {
      editor.on('init', function () {
        let content = '';
        if (content) {
          tinymce.activeEditor.setContent(uiUtil.unescape(content));
        }
      });
    });

    // date time picker
    $(".flatpickr").flatpickr({
      enableTime: true,
      dateFormat: "Y-m-d\\TH:i",
      monthSelectorType: 'static',
      time_24hr: true
    });
  </script>
</section>

</html>