<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">

<section layout:fragment="content">
  <form
      th:action="@{/board/articles/update}"
      method="post" class="fw-bold" name="reqForm">
    <input type="hidden" name="id" th:value="${id}">

    <div class="container">
      <div class="row">
        <!-- audit area -->
        <div th:replace="common/components :: auditArea"></div>
      </div>

      <div class="row mb-3">
        <label class="form-label" for="title">제목 *</label>
        <div class="input-group w-50">
          <input id="title" class="form-control unescapeText" name="title"/>
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label" for="boardStartDate">게시일 *</label>
        <div class="input-group w-25">
          <input id="boardStartDate" class="form-control flatpickr" name="startDate"
                 type="text" placeholder="게시일을 선택하세요"/>
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
        <div class="input-group w-25">
          <input id="boardEndDate" class="form-control flatpickr" name="endDate"
                 type="text" placeholder="종료일을 선택하세요"/>
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label" for="open">공개여부</label>
        <div class="input-group w-25">
          <select class="form-select" name="visible" id="open">
            <option value="true">Y</option>
            <option value="false">N</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="content">내용 *</label>
        <div class="input-group w-75">
          <textarea class="form-control" id="content" rows="10" name="content"></textarea>
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
      </div>

      <div class="mb-3 mt-4">
        <label for="representImgFile" class="form-label d-block">대표 이미지</label>
        <div class="input-group w-50" style="float: left">
          <input class="form-control" type="file" id="representImgFile"
                 name="representImgFile" onchange="uiUtil.uploadFile('EXAMPLE_REP', this);">
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
        <div class="input-group w-50" style="float: right; padding-left:10px;">
          <input type="text" class="form-control" name="repImgAlt"
                 placeholder="이미지 대체 텍스트를 입력해주세요"/>
        </div>
        <div style="clear: both" class="row w-25">
          <img src="" class="preview_EXAMPLE_REP mt-3" style="display: none"/>
        </div>
      </div>

      <div class="mb-3 mt-4 publicFileInputs">
        <label for="formFile1" class="form-label d-block">다건 파일 첨부</label>
        <div class="input-group w-50" style="float:left;">
          <input class="form-control mb-2" type="file" name="multipartAttachments"
                 onchange="uiUtil.uploadFile('EXAMPLE_PUBLIC', this);"
                 id="formFile1">
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
        <div class="input-group w-50" style="float:right;padding-left:10px;">
          <button type="button" class="btn btn-success d-inline-block align-top"
                  onclick="addFileInput();">추가
          </button>
        </div>
        <div style="clear: both;"></div>
      </div>

      <div class="mb-3 mt-4 privateFileInputs">
        <label for="filePrivate" class="form-label d-block">private 파일 첨부 (외부 비공개)</label>
        <div class="input-group w-50">
          <input class="form-control" type="file"
                 name="multipartPrivateAttachment"
                 onchange="uiUtil.uploadFile('EXAMPLE_PRIVATE', this);"
                 id="filePrivate">
          <div class="invalid-feedback fw-bold">
            에러 메세지
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary float-end" onclick="goSave();">저장</button>
    <button type="button" class="btn btn-light" onclick="gotoList();return false;">목록으로 이동</button>
  </form>
</section>

<section layout:fragment="script">
  <!-- web editor - tinymce -->
  <script src="/static/library/tinymce/6.0.3/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="/static/ui/editorImageUpload.js"></script>

  <script>
    function gotoList() {

    }

    function addFileInput() {
      $('.publicFileInputs').append(`
            <div class="input-group w-50">
              <input class="form-control mb-2" type="file" name="multipartAttachments"
                onchange="uiUtil.uploadFile('EXAMPLE_PUBLIC', this);">
              <div class="invalid-feedback fw-bold">
                에러 메세지
              </div>
            </div>
          `);
    }
  </script>

  <script th:inline="javascript">
    // date time picker
    $(".flatpickr").flatpickr({
      enableTime: true,
      dateFormat: "Y-m-d\\TH:i",
      monthSelectorType: 'static',
      time_24hr: true
    });
  </script>

  <script>
    const getArticle = () => {
      const f = document.reqForm;

      $.ajax({
        method: 'GET',
        url: '/api/board/articles/' + f.id.value,
        success(res) {
          console.log(res);

          showAudit(res.title, res.createdBy, uiUtil.isoStrToReadable(res.createdAt)
              , res.updateBy, uiUtil.isoStrToReadable(res.updatedAt));

          initEditor('#content', (editor) => {
            editor.on('init', function () {
              setTimeout(() => {
                tinymce.get('content').setContent(uiUtil.unescape(res.content));
              }, 0);
            });
          });

          f.title.value = res.title;
          f.startDate.value = res.startDate.substring(0,16);
          f.endDate.value = res.endDate.substring(0,16);
          f.visible.value = res.visible;
        }
      });
    }

    // 상세정보 얻기
    getArticle();
  </script>
</section>

</html>