<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--
██████   █████   ██████  ██ ███    ██  █████  ████████ ██  ██████  ███    ██
██   ██ ██   ██ ██       ██ ████   ██ ██   ██    ██    ██ ██    ██ ████   ██
██████  ███████ ██   ███ ██ ██ ██  ██ ███████    ██    ██ ██    ██ ██ ██  ██
██      ██   ██ ██    ██ ██ ██  ██ ██ ██   ██    ██    ██ ██    ██ ██  ██ ██
██      ██   ██  ██████  ██ ██   ████ ██   ██    ██    ██  ██████  ██   ████
-->
<div th:fragment="pagination(items)">
  <div class="row">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${!items.pageable.hasPrevious} ? 'disabled'">
          <a class="page-link"
             th:href="|javascript:goPageable(${items.pageable.pageNumber - 1}, ${items.pageable.pageSize}, '${items.pageable.sort}')|">이전</a>
        </li>
        <li th:each="idx : ${#numbers.sequence(0, items.totalPages == 0 ? 0 :  items.totalPages - 1)}" class="page-item"
            th:classappend="${idx == items.pageable.pageNumber} ? 'disabled'">
          <a class="page-link"
             th:href="|javascript:goPageable(${idx}, ${items.pageable.pageSize}, '${items.pageable.sort}')|"
             th:text="${idx+1}">페이지넘버</a>
        </li>
        <li class="page-item"
            th:classappend="${items.pageable.pageNumber == items.totalPages - 1 or items.totalPages == 0 or items.totalPages == 0} ? 'disabled'">
          <a class="page-link"
             th:href="|javascript:goPageable(${items.pageable.pageNumber + 1}, ${items.pageable.pageSize}, '${items.pageable.sort}')|">다음</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

</body>

</html>
