<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">

<section layout:fragment="content">

  <form autocomplete="off" method="post" name="reqForm" th:action="@{/board/articles}"
        th:object="${reqVO}">

    <!-- hidden parameters -->
    <input type="hidden" name="sort" th:field="*{sort}"/>
    <input type="hidden" name="page" th:field="*{page}"/>

    <div class="row bg-secondary p-2 mb-2" style="--bs-bg-opacity: .2;">
      <div class="col-5">
        <label class="col-sm-2 col-form-label" for="searchField">검색필드</label>
        <select class="form-select d-inline w-25" th:field="*{searchField}"
                id="searchField">
          <option value="" selected>선택</option>
          <option value="title">제목</option>
          <option value="createdBy">작성자</option>
        </select> <label>
        <input type="text" class="form-control d-inline"
               th:field="*{searchValue}" placeholder="검색어를 입력하세요."
               style="width: 250px;">
      </label>
      </div>
      <div class="col">
        <label class="col-sm-3 col-form-label" for="searchOpen">공개여부</label>
        <select class="form-select d-inline w-25" th:field="*{searchOpen}"
                id="searchOpen">
          <option value="" selected>전체</option>
          <option value="true">Y</option>
          <option value="false">N</option>
        </select>
      </div>
      <div class="col text-end">
        <button type="button" class="btn btn-secondary"
                onclick="goSearch();">검색
        </button>
        <button type="button" class="btn btn-light" onclick="goInit();">초기화
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col text-start">
        <div class="fw-bolder text-muted">
          Total: <span id="totalElements"></span>
        </div>
      </div>
      <div class="col text-end">
        <i class="bi bi-list-ol"></i> <label>
        <select
            class="form-select form-select-sm" name="size" id="pageSize"
            th:field="*{size}"
            onchange="goSearch()">
          <option
              th:each="item : ${pageRows}"
              th:value="${item.codeValue}" th:text="${item.codeText}"></option>
        </select>
      </label>
      </div>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" style="width:40px;"><label>
          <input class="form-check-input"
                 type="checkbox" onchange="toggleCheckbox(this);"/></label>
        </th>
        <th scope="col" style="width:60px;"></th>
        <th scope="col">
          <a href="#" class="order-able"
             data-sort-field="title">제목</a>
        </th>
        <th scope="col">
          <a href="#" class="order-able text-center d-inline-block w-100"
             data-sort-field="visible">공개여부</a></th>
        <th scope="col">
          <a href="#" class="order-able"
             data-sort-field="startDate">게시일</a></th>
        <th scope="col">
          <a href="#" class="order-able"
             data-sort-field="endDate">종료일</a></th>
        <th scope="col">
          <a href="#" class="order-able"
             data-sort-field="createdBy">최근 수정자</a></th>
        <th scope="col">
          <a href="#" class="order-able"
             data-sort-field="updatedAt">최근 수정일</a></th>
        <th scope="col">
          <a href="#" class="order-able"
             data-sort-field="orderNo">정렬번호</a></th>
      </tr>
      </thead>
      <tbody class="sortable" id="listTBody">

      </tbody>
    </table>

  </form>

  <div class="row paging"></div>
  <!--  <div th:replace="common/list-components :: pagination(${listOutput})"></div>-->

  <div class="row">
    <div class="col text-start">
      <button type="button" class="btn btn-success" onclick="goExcel();">엑셀 다운로드</button>
    </div>
    <div class="col text-end">
      <button type="button" class="btn btn-primary"
              onclick="goSave();">등록
      </button>
      <button type="button" class="btn btn-danger" onclick="goRemove();">삭제</button>
      <button type="button" class="btn btn-secondary" onclick="uiUtil.sortable.update();">정렬 변경
      </button>
    </div>
  </div>
</section>

<section layout:fragment="script">
  <script>
    const INIT_SORT = 'orderNo,DESC';

    const getArticles = (pageNo) => {
      const f = document.reqForm;
      f.page.value = pageNo;

      let dataOj = $(f).serializeObject();

      $.ajax({
        method: 'GET',
        url: '/api/board/articles',
        data: dataOj,
        success(response) {
          console.log(response);

          $('#totalElements').text(response.totalElements);

          // List 구성하기
          const tbody = $('#listTBody');
          tbody.empty();

          $(response.content).each((idx, ct) => {
            tbody.append(
                `
                    <tr data-order-no="${ct.orderNo}"
                        data-id="${ct.id}">
                      <th
                          scope="row">${idx + (pageNo * f.size.value) + 1}</th>
                      <td><label>
                        <input class="form-check-input"
                               name="selectedItemIds" type="checkbox" value="${ct.id}"/></label></td>
                      <td><img
                          src="${ct.uploadFile ? uiUtil.getFileReferURL('inline', 'public', ct.uploadFile) : '/static/ui/img/default-img.jpg'}"
                          style="width: 25px;"
                          class="img-thumbnail"/></td>
                      <td><a href="javascript:goUpdate(${ct.id})">${ct.title}</a></td>
                      <td class="text-secondary text-center">${ct.visible ? 'Y' : 'N'}</td>
                      <td>${uiUtil.isoStrToReadable(ct.startDate)}</td>
                      <td>${uiUtil.isoStrToReadable(ct.endDate)}</td>
                      <td>${ct.updatedBy}</td>
                      <td>${uiUtil.isoStrToReadable(ct.updatedAt)}</td>
                      <td class="text-center">${ct.orderNo} <i
                          class="bi bi-distribute-vertical handle float-end fw-bold"
                          style="cursor: move"></i></td>
                    </tr>
                `
            );
          });

          // Pagination 구성하기
          const paging = $('.paging');
          paging.empty();
          paging.append(
              uiUtil.getPagingUI(pageNo, f.size.value, response.totalPages,
                  (movePageNo) => {
                    f.page.value = movePageNo;
                    goSearch();
                  }));

          // 리스트 상단 정렬 notation 및 갱신 기능 적용
          uiUtil.addSortNotation(f.sort.value, (targetPage, targetSort) => {
            f.page.value = targetPage;
            f.sort.value = targetSort;
            goSearch();
          });

          // sort 기능 적용
          uiUtil.sortable.init(
              // 드래그 가능 범위 지정 셀렉터
              '.sortable',
              // 드래그 핸들바 지정 셀렉터
              '.handle',
              // 현재 정렬이 orderNo,DESC 여부 검사 로직
              () => {
                return $('input[name=sort]').val() === INIT_SORT
              },
              // orderNo,DESC 로 정렬 변경 로직
              () => {
                f.sort.value = INIT_SORT;
                getArticles(0);
              },
              // 정렬변경 수행 로직
              (updateData) => {
                $.ajax({
                  type: 'PATCH',
                  url: '/api/board/articles/sort',
                  data: JSON.stringify(updateData),
                  contentType: "application/json; charset=utf-8;",
                  dataType: "json",
                  beforeSend: function (xhr) {
                    xhr.setRequestHeader(
                        $("meta[name='_csrf_header']").attr("content"),
                        $("meta[name='_csrf']").attr("content"));
                  },
                  success: function () {
                    alert('[[#{operation.orderNo.updated}]]');
                    getArticles(f.page.value);
                  },
                  statusCode: {
                    // error
                    400: function (response) {
                      const resJson = response.responseJSON;
                      alert(resJson.message);
                    },
                    // validation fail
                    422: function (response) {
                    }
                  }
                })
              }
          );
        }
      })
    }

    // 최초 리스트 로드
    getArticles(document.reqForm.page.value);
  </script>

  <script th:inline="javascript">
    const goSearch = () => {
      const f = document.reqForm;
      f.method = 'GET';
      f.submit();
    }

    // 초기화
    function goInit() {
      const f = document.reqForm;
      f.searchField.value = '';
      f.searchValue.value = '';
      f.searchOpen.value = '';
    }

    // 저장페이지 이동
    function goSave() {
      location.href = '/board/articles/create';
    }

    // 수정페이지 이동
    function goUpdate(itemId) {
      const f = document.paramForm;
      f.action = '/board/exampleBoard/update/' + itemId;
      f.method = 'get';
      f.submit();
    }

    function goExcel() {
      const f = document.paramForm;
      f.action = '/board/exampleBoard/excel';
      f.sort.value = convertToPageableSortValue(f.sort.value);
      f.method = 'get';
      f.submit();
    }

    // 체크박스 선택/해제
    function toggleCheckbox(oj) {
      $('input[name=selectedItemIds]').prop("checked", oj.checked);
    }

    function goRemove() {
      if (!$('input[name=selectedItemIds]').is(':checked')) {
        alert(/*[[#{operation.common.remove.choose}]]*/);
        return;
      }

      if (confirm(/*[[#{operation.common.remove.ask}]]*/)) {
        const f = document.paramForm;
        f.action = '/board/exampleBoard/delete';
        f.method = 'post';
        f.submit();
      }
    }
  </script>
</section>

</html>