<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">

<section layout:fragment="content">

  <form method="post" name="paramForm" th:action="@{/board/exampleBoard}"
        th:object="${filterReqVO}" onsubmit="goSearch();">

    <!-- hidden parameters -->
    <input type="hidden" name="page"
           th:value="${items.pageable.pageNumber}"/>
    <input type="hidden"
           name="sort" th:value="${items.pageable.sort}"/>

    <div class="row bg-secondary p-2 mb-2" style="--bs-bg-opacity: .2;">
      <div class="col-5">
        <label class="col-sm-2 col-form-label" for="searchField">검색필드</label>
        <select class="form-select d-inline w-25" th:field="*{searchField}"
                id="searchField">
          <option value="" selected>선택</option>
          <option value="title">제목</option>
          <option value="createdBy">작성자</option>
        </select> <label>
        <input type="text" class="form-control d-inline"
               th:field="*{searchValue}" placeholder="검색어를 입력하세요."
               style="width: 250px;">
      </label>
      </div>
      <div class="col">
        <label class="col-sm-3 col-form-label" for="searchOpen">공개여부</label>
        <select class="form-select d-inline w-25" th:field="*{searchOpen}"
                id="searchOpen">
          <option value="" selected>전체</option>
          <option value="true">Y</option>
          <option value="false">N</option>
        </select>
      </div>
      <div class="col text-end">
        <button type="button" class="btn btn-secondary"
                onclick="goSearch();">검색
        </button>
        <button type="button" class="btn btn-light" onclick="goInit();">초기화
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col text-start">
        <div class="fw-bolder text-muted">
          Total: <span th:text="${items.totalElements}"></span>
        </div>
      </div>
      <div class="col text-end">
        <i class="bi bi-list-ol"></i> <label>
        <select
              class="form-select form-select-sm" th:field="*{size}"
              onchange="goSearch()">
        <option
                th:each="item : ${@uiCodeListService.connect('code.pageable.rows')}"
                th:value="${item.codeValue}" th:text="${item.codeText}"></option>
      </select>
      </label>
      </div>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" style="width:40px;"><label>
          <input class="form-check-input"
                 type="checkbox" onchange="toggleCheckbox(this);"/></label>
        </th>
        <th scope="col" style="width:60px;"></th>
        <th scope="col"><a href="#" class="orderable"
                           data-sort-field="title">제목</a></th>
        <th scope="col"><a href="#" class="orderable"
                           data-sort-field="open">공개여부</a></th>
        <th scope="col"><a href="#" class="orderable"
                           data-sort-field="boardStartDate">게시일</a></th>
        <th scope="col"><a href="#" class="orderable"
                           data-sort-field="boardEndDate">종료일</a></th>
        <th scope="col"><a href="#" class="orderable"
                           data-sort-field="createdBy">작성자</a></th>
        <th scope="col"><a href="#" class="orderable"
                           data-sort-field="updatedAt">최근 수정일</a></th>
        <th scope="col"><a href="#" class="orderable"
                           data-sort-field="orderNo">정렬번호</a></th>
      </tr>
      </thead>
      <tbody class="sortable">
      <tr th:each="item, status : ${items}" th:data-order-no="${item.orderNo}" th:data-id="${item.id}">
        <th
                th:text="${status.count + (items.pageable.pageNumber * items.pageable.pageSize)}"
                scope="row">게시물번호
        </th>
        <td><label>
          <input class="form-check-input"
                 name="selectedItemIds" type="checkbox" th:value="${item.id}"/></label></td>
        <td><img
                th:src="${@fileUrlService.connect('INLINE', item.representImage)}"
                style="width: 25px;"
                class="img-thumbnail" onerror="this.src='/static/ui/img/default-img.jpg'"/></td>
        <td><a th:href="|javascript:goUpdate('${item.id}')|"
               th:utext="${item.title}">Title</a></td>
        <td class="text-center text-secondary">
          <i th:if="${item.visible}" class="bi bi-circle-fill"></i>
          <i th:if="${!item.visible}" class="bi bi-slash-circle"></i>
        </td>
        <td
                th:text="${#temporals.format(item.boardStartDate, 'yyyy-MM-dd HH:mm')}">게시일
        </td>
        <td
                th:text="${#temporals.format(item.boardEndDate, 'yyyy-MM-dd HH:mm')}">종료일
        </td>
        <td th:text="${item.createdBy}"></td>
        <td
                th:text="${#temporals.format(item.updatedAt, 'yyyy-MM-dd HH:mm')}">수정일
        </td>
        <td class="text-center">[[${item.orderNo ?: 0}]] <i class="bi bi-distribute-vertical handle float-end fw-bold"
                                                            style="cursor: move"></i></td>
      </tr>
      </tbody>
    </table>

  </form>

  <div th:replace="common/list-components :: pagination(${items})"></div>

  <div class="row">
    <div class="col text-start">
      <button type="button" class="btn btn-success" onclick="goExcel();">엑셀 다운로드</button>
    </div>
    <div class="col text-end">
      <button type="button" class="btn btn-primary"
              onclick="goSave();">등록
      </button>
      <button type="button" class="btn btn-danger" onclick="goRemove();">삭제</button>
      <button type="button" class="btn btn-secondary" onclick="utilize.sortable.update();">정렬 변경</button>
    </div>
  </div>

  <div th:replace="common/list-components :: listColumnOrder(${items})"></div>

  <script th:inline="javascript">
      // 검색
      function goSearch() {
          const f = document.paramForm;
          f.action = '/board/exampleBoard';
          f.page.value = 0;
          f.sort.value = convertToPageableSortValue(f.sort.value);
          f.method = 'get';
          f.submit();
      }

      // 초기화
      function goInit() {
          const f = document.paramForm;
          f.searchField.value = '';
          f.searchValue.value = '';
          f.searchOpen.value = '';
      }

      // 저장페이지 이동
      function goSave() {
          location.href = '/board/exampleBoard/create';
      }

      // 수정페이지 이동
      function goUpdate(itemId) {
          const f = document.paramForm;
          f.sort.value = convertToPageableSortValue(f.sort.value);
          f.action = '/board/exampleBoard/update/' + itemId;
          f.method = 'get';
          f.submit();
      }

      function goExcel() {
          const f = document.paramForm;
          f.sort.value = convertToPageableSortValue(f.sort.value);
          f.action = '/board/exampleBoard/excel';
          f.method = 'get';
          f.submit();
      }

      // 체크박스 선택/해제
      function toggleCheckbox(oj) {
          $('input[name=selectedItemIds]').prop("checked", oj.checked);
      }

      function goRemove() {
          if (!$('input[name=selectedItemIds]').is(':checked')) {
              alert(/*[[#{operation.common.remove.choose}]]*/);
              return;
          }

          if (confirm(/*[[#{operation.common.remove.ask}]]*/)) {
              const f = document.paramForm;
              f.action = '/board/exampleBoard/delete';
              f.method = 'post';
              f.submit();
          }
      }

      // 정렬
      $(function () {
          utilize.sortable.init(
              '.sortable',
              '.handle',
              function getCurrentSortValue() {
                  return $('input[name=sort]').val() === 'orderNo: DESC'
              },
              function initSortValue() {
                  goPageable(0, $('select[name=size]').val(), 'orderNo: DESC');
              },
              function updateFunc(updateData) {
                  $.ajax({
                      type: 'POST',
                      url: '/api/exBoard/update/orderNo',
                      data: JSON.stringify(updateData),
                      contentType: "application/json; charset=utf-8;",
                      dataType: "json",
                      beforeSend: function (xhr) {
                          // csrf 토큰
                          xhr.setRequestHeader(
                              $("meta[name='_csrf_header']").attr("content"),
                              $("meta[name='_csrf']").attr("content"));
                      },
                      success: function (response) {
                          alert(response.message);
                          location.reload();
                      },
                      statusCode: {
                          // error
                          400: function (response) {
                              const resJson = response.responseJSON;
                              alert(resJson.message);
                          },
                          // validation fail
                          422: function (response) {
                          }
                      }
                  })
              }
          );
      })
  </script>
</section>


</html>
