<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">

<section layout:fragment="content">
  <form
      th:action="${'/board/exampleBoard/create'}"
      method="post"
      enctype="multipart/form-data" class="fw-bold" name="updateForm"
      th:object="${bindingVO}">
    <input type="hidden" th:field="*{orderNo}"/>

    <div class="container">
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="title">Title *</label>
        <div class="col-sm-6">
          <input id="title" class="form-control unescapeText" th:field="*{title}"
                 th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"/>
          <div class="invalid-feedback fw-bold" th:if="${#fields.hasErrors('title')}"
               th:errors="*{title}">
            에러 메세지
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="boardStartDate">게시일 *</label>
        <div class="col-sm-3 ">
          <input id="boardStartDate" class="form-control flatpickr" th:field="*{boardStartDate}"
                 type="text" placeholder="게시일을 선택하세요"
                 th:classappend="${#fields.hasErrors('boardStartDate')} ? 'is-invalid'"/>
          <div class="invalid-feedback fw-bold" th:if="${#fields.hasErrors('boardStartDate')}"
               th:errors="*{boardStartDate}">
            에러 메세지
          </div>
        </div>
        <div class="col-sm-3">
          <input id="boardEndDate" class="form-control flatpickr" th:field="*{boardEndDate}"
                 type="text" placeholder="종료일을 선택하세요"
                 th:classappend="${#fields.hasErrors('boardEndDate')} ? 'is-invalid'"/>
          <div class="invalid-feedback fw-bold" th:if="${#fields.hasErrors('boardEndDate')}"
               th:errors="*{boardEndDate}">
            에러 메세지
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="open">공개여부</label>
        <div class="col-sm-4">
          <select class="form-select d-inline w-25" th:field="*{visible}" id="open">
            <option value="true">Y</option>
            <option value="false">N</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label for="representImgFile" class="form-label d-block">대표 이미지</label>
        <input class="form-control w-50 d-inline-block" type="file" id="representImgFile"
               th:classappend="${repImgErrorMsg != null} ? 'is-invalid'"
               name="representImgFile">
        <div class="invalid-feedback fw-bold" th:if="${repImgErrorMsg != null}"
             th:text="${repImgErrorMsg}">
          에러 메세지
        </div>
        <input type="text" class="form-control w-50 mt-2" th:field="*{repImgAlt}"
               placeholder="alt text"/>
      </div>

      <div class="mb-3">
        <label class="col-sm-2 col-form-label" for="content">내용 *</label>
        <div class="col-sm-10">
              <textarea class="form-control" id="content" rows="10" th:field="*{content}"
                        th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"></textarea>
          <div class="invalid-feedback fw-bold" th:if="${#fields.hasErrors('content')}"
               th:errors="*{content}">
            에러 메세지
          </div>
        </div>
      </div>

      <hr/>

      <div class="mb-3 publicFileInputs">
        <label for="formFile1" class="form-label d-block">다건 파일 첨부</label>
        <input class="form-control w-50 d-inline-block mb-2" type="file" name="multipartAttachments"
               th:classappend="${publicAttachErrorMsg != null} ? 'is-invalid'"
               id="formFile1">
        <button type="button" class="btn btn-success d-inline-block align-top"
                onclick="addFileInput('public');">추가
        </button>
        <div class="invalid-feedback fw-bold" th:if="${publicAttachErrorMsg != null}"
             th:text="${publicAttachErrorMsg}">
          에러 메세지
        </div>
      </div>

      <hr/>

      <div class="mb-3 privateFileInputs">
        <label for="filePrivate" class="form-label d-block">private 파일 첨부 (외부 비공개)</label>
        <input class="form-control w-50 d-inline-block mb-2" type="file"
               name="multipartPrivateAttachment"
               th:classappend="${privateAttachErrorMsg != null} ? 'is-invalid'"
               id="filePrivate">
        <div class="invalid-feedback fw-bold"
             th:if="${privateAttachErrorMsg != null}"
             th:text="${privateAttachErrorMsg}">
          에러 메세지
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary float-end">저장</button>
    <button type="button" class="btn btn-light" onclick="gotoList();return false;">목록으로 이동</button>
  </form>

  <script>
    function gotoList() {
      document.prevParamForm ? document.prevParamForm.submit()
          : location.href = '/board/exampleBoard';
    }

    function addFileInput(type) {
      let tmpl = $.templates('#fileInputTmpl');
      switch (type) {
        case 'public':
          $('.publicFileInputs').append(tmpl.render({'name': 'multipartAttachments'}));
          break;
        case 'private':
          $('.privateFileInputs').append(tmpl.render({'name': 'privateFiles'}));
          break;
      }
    }
  </script>

  <script id="fileInputTmpl" type="text/x-jsrender">
		<input class="form-control w-50 mb-2" type="file" name="{{:name}}"/>
  </script>

  <!-- web editor - tinymce -->
  <script src="/static/library/tinymce/6.0.3/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="/static/ui/editorImageUpload.js"></script>
  <script th:inline="javascript">
    // init tinymce editor
    initEditor('#content', (editor) => {
      editor.on('init', function () {
        let content = [[${bindingVO.content}]];
        if (content) {
          tinymce.activeEditor.setContent(uiUtil.unescape(content));
        }
      });
    });

    // date time picker
    $(".flatpickr").flatpickr({
      enableTime: true,
      dateFormat: "Y-m-d\\TH:i",
      monthSelectorType: 'static',
      time_24hr: true
    });
  </script>
</section>

</html>
