<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">

<section layout:fragment="content" class="fw-bold">
  <form
      th:action="${bindingVO.id != null ? '/board/exampleBoard/update/' + bindingVO.id : '/board/exampleBoard/create'}"
      method="post"
      enctype="multipart/form-data" class="fw-bold" name="updateForm"
      th:object="${bindingVO}">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{orderNo}"/>

    <div class="container">

      <div class="row">
        <!-- audit area -->
        <div th:replace="common/components :: auditArea"></div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="title">Title *</label>
        <div class="col-sm-6">
          <input id="title" class="form-control unescapeText" th:field="*{title}"
                 th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"/>
          <div class="invalid-feedback fw-bold" th:if="${#fields.hasErrors('title')}"
               th:errors="*{title}">
            에러 메세지
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="boardStartDate">게시일 *</label>
        <div class="col-sm-3 ">
          <input id="boardStartDate" class="form-control flatpickr" th:field="*{boardStartDate}"
                 type="text" placeholder="게시일을 선택하세요"
                 th:classappend="${#fields.hasErrors('boardStartDate')} ? 'is-invalid'"/>
          <div class="invalid-feedback fw-bold" th:if="${#fields.hasErrors('boardStartDate')}"
               th:errors="*{boardStartDate}">
            에러 메세지
          </div>
        </div>
        <div class="col-sm-3">
          <input id="boardEndDate" class="form-control flatpickr" th:field="*{boardEndDate}"
                 type="text" placeholder="종료일을 선택하세요"
                 th:classappend="${#fields.hasErrors('boardEndDate')} ? 'is-invalid'"/>
          <div class="invalid-feedback fw-bold" th:if="${#fields.hasErrors('boardEndDate')}"
               th:errors="*{boardEndDate}">
            에러 메세지
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="open">공개여부</label>
        <div class="col-sm-4">
          <select class="form-select d-inline w-25" th:field="*{visible}" id="open">
            <option value="true">Y</option>
            <option value="false">N</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label for="representImgFile" class="form-label d-block">대표 이미지</label>
        <input class="form-control w-50 d-inline-block" type="file" id="representImgFile"
               th:classappend="${repImgErrorMsg != null} ? 'is-invalid'"
               name="representImgFile">
        <div class="invalid-feedback fw-bold" th:if="${repImgErrorMsg != null}"
             th:text="${repImgErrorMsg}">
          에러 메세지
        </div>
        <input type="text" class="form-control w-50 mt-2" th:field="*{repImgAlt}"
               placeholder="alt text"/>
        <!-- 수정화면시, 이미지 표시 -->
        <div class="col-sm-6" th:with="repImg=${bindingVO.representImage}"
             th:if="${bindingVO.representImage != null}">
          <div>
            <a th:text="${repImg.originName}"
               class="text-decoration-none"></a>
          </div>
          <div class="mt-2">
            <img th:src="${@fileUrlService.connect('INLINE', repImg)}"
                 style="max-width: 100%"/>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="col-sm-2 col-form-label" for="content">내용 *</label>
        <div class="col-sm-10">
              <textarea class="form-control" id="content" rows="10" th:field="*{content}"
                        th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"></textarea>
          <div class="invalid-feedback fw-bold" th:if="${#fields.hasErrors('content')}"
               th:errors="*{content}">
            에러 메세지
          </div>
        </div>
      </div>

      <hr/>

      <div th:if="${bindingVO.id != null}" class="row mb-3 pt-3">
        <label class="col-sm-2 col-form-label" style="padding-top: 0;">다건 파일 첨부</label>
        <div class="col-sm-6">
          <div th:each="item, status : ${bindingVO.attachments}">
            <a th:href="${@fileUrlService.connect('ATTACHMENT', item.fileUploadOutput)}"
               th:text="${item.fileUploadOutput.originName}"
               th:attr="data-file-seq=${item.id}"
               data-posting-type='public'
               class="text-decoration-none"></a>
            <a href="javascript:void(0);" onclick="removeFile(this);" data-posting-type='public'
               th:attr="data-del-file-seq=${item.id}"><i
                class="bi bi-file-excel"></i></a>
            <a href="javascript:void(0);" onclick="cancelRemove(this);" data-posting-type='public'
               style="display: none;"
               th:attr="data-cancel-file-seq=${item.id}"
               class="text-decoration-none"> (취소)</a>
          </div>
        </div>
      </div>

      <div class="mb-3 publicFileInputs">
        <label for="formFile1" class="form-label d-block">다건 파일 첨부</label>
        <input class="form-control w-50 d-inline-block mb-2" type="file" name="multipartAttachments"
               th:classappend="${publicAttachErrorMsg != null} ? 'is-invalid'"
               id="formFile1">
        <button type="button" class="btn btn-success d-inline-block align-top"
                onclick="addFileInput('public');">추가
        </button>
        <div class="invalid-feedback fw-bold" th:if="${publicAttachErrorMsg != null}"
             th:text="${publicAttachErrorMsg}">
          에러 메세지
        </div>
      </div>

      <hr/>

      <div class="mb-3 privateFileInputs">
        <label for="filePrivate" class="form-label d-block">private 파일 첨부 (외부 비공개)</label>
        <div class="row mb-2">
          <a th:if="${bindingVO.privateAttachment != null && bindingVO.privateAttachment.path != null}"
             th:href="${@fileUrlService.connect('ATTACHMENT', bindingVO.privateAttachment)}"
             th:text="${bindingVO.privateAttachment.originName}"
             class="text-decoration-none"></a>
        </div>
        <input class="form-control w-50 d-inline-block mb-2" type="file"
               name="multipartPrivateAttachment"
               th:classappend="${privateAttachErrorMsg != null} ? 'is-invalid'"
               id="filePrivate">
        <div class="invalid-feedback fw-bold"
             th:if="${privateAttachErrorMsg != null}"
             th:text="${privateAttachErrorMsg}">
          에러 메세지
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary float-end">저장</button>
    <button type="button" class="btn btn-light" onclick="gotoList();return false;">목록으로 이동</button>
  </form>

  <!-- 이전 목록페이지의 검색 및 정렬조건 폼 -->
  <form th:if="${bindingVO.id != null}" th:action="@{/board/exampleBoard}" name="prevParamForm"
        method="get"
        th:object="${filterReqVO}">
    <input type="hidden" th:field="*{searchField}">
    <input type="hidden" th:field="*{searchValue}">
    <input type="hidden" th:field="*{searchOpen}">
    <th:block th:if="${pageable != null}">
      <input type="hidden" name="page" th:value="${pageable.page}"/>
      <input type="hidden" name="sort" th:value="${pageable.sort}"/>
    </th:block>
  </form>
</section>

<section layout:fragment="script">
  <script>
    function gotoList() {
      if (document.prevParamForm) {
        const f = document.prevParamForm;
        f.sort.value = convertToPageableSortValue(f.sort.value);
        f.submit();
      } else {
        location.href = '/board/exampleBoard';
      }
    }

    function removeFile(oj) {
      const fileSeq = $(oj).data('del-file-seq');
      const postingType = $(oj).attr('data-posting-type');
      const el = $('a[data-file-seq=' + fileSeq + '][data-posting-type=' + postingType + ']');
      el.addClass('text-decoration-line-through');
      $(oj).hide();

      const cancelEl = $(
          'a[data-cancel-file-seq=' + fileSeq + '][data-posting-type=' + postingType + ']');
      cancelEl.show();

      const f = document.updateForm;
      let input = $('<input type="hidden">');
      input.attr('name', 'removeAttachmentIds');
      input.val(fileSeq);
      input.attr('id', 'del_' + postingType + '_' + fileSeq);
      $(f).append(input);
    }

    function cancelRemove(oj) {
      const fileSeq = $(oj).data('cancel-file-seq');
      const postingType = $(oj).attr('data-posting-type');
      const el = $('a[data-file-seq=' + fileSeq + '][data-posting-type=' + postingType + ']');
      el.removeClass('text-decoration-line-through');

      $('#del_' + postingType + '_' + fileSeq).remove();

      $('a[data-del-file-seq=' + fileSeq + '][data-posting-type=' + postingType + ']').show();

      $(oj).hide();
    }

    function addFileInput(type) {
      let tmpl = $.templates('#fileInputTmpl');
      switch (type) {
        case 'public':
          $('.publicFileInputs').append(tmpl.render({'name': 'multipartAttachments'}));
          break;
        case 'private':
          $('.privateFileInputs').append(tmpl.render({'name': 'privateFiles'}));
          break;
      }
    }
  </script>

  <script id="fileInputTmpl" type="text/x-jsrender">
		<input class="form-control w-50 mb-2" type="file" name="{{:name}}"/>


  </script>

  <!-- web editor - tinymce -->
  <script src="/static/library/tinymce/6.0.3/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="/static/ui/editorImageUpload.js"></script>
  <script th:inline="javascript">
    // init tinymce editor
    initEditor('#content', (editor) => {
      editor.on('init', function () {
        let content = [[${bindingVO.content}]];
        if (content) {
          tinymce.activeEditor.setContent(uiUtil.unescape(content));
        }
      });
    });

    // date time picker
    $(".flatpickr").flatpickr({
      enableTime: true,
      dateFormat: "Y-m-d\\TH:i",
      monthSelectorType: 'static',
      time_24hr: true
    });

    $(document).ready(() => {
      showAudit([[${bindingVO.title}]], [[${bindingVO.createdBy}]],
          [[${#temporals.format(bindingVO.createdAt, "yyyy-MM-dd HH:mm:ss")}]],
          [[${bindingVO.updatedBy}]],
          [[${#temporals.format(bindingVO.updatedAt, "yyyy-MM-dd HH:mm:ss")}]]);
    });
  </script>
</section>

</html>
