package #package;

import lombok.RequiredArgsConstructor;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframework.data.domain.Pageable;
import org.springframework.data.web.PageableDefault;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.GetMapping;
import #cmdPackage.#domainNmReqVO;

@RestController
@RequiredArgsConstructor
class #domainNmController {

  @GetMapping(path = "#url")
  ResponseEntity<?> operate(
    @PageableDefault Pageable pageable,
    #domainNmReqVO reqVO) {

    return ResponseEntity.status(HttpStatus.OK)
        .body(reqVO);
  }
}