package #package;

import javax.validation.Valid;
import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.validation.BindingResult;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.ModelAttribute;
import org.springframework.web.servlet.mvc.support.RedirectAttributes;
import #cmdPackage.#domainNmReqVO;

@Controller
@RequiredArgsConstructor
class #domainNmController {

  @PostMapping(path = "#url")
  String operate(
    Model model,
    RedirectAttributes redirectAttributes,
    @Valid @ModelAttribute("reqVO") #domainNmReqVO reqVO,
    BindingResult bindingResult) {

    if (bindingResult.hasErrors()) {
      // describe the page that will display the error message.
      return null;
    }

    return "redirect:";
  }
}