<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout-home}">

<head>
  <title>관리자 수정</title>
</head>

<body>

<section layout:fragment="content">

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">안녕하세요, <span sec:authentication="name" class="text-muted"></span> :-)</h1>
      <p class="col-md-8 fs-4">
        org.beizix 관리자 메인에 오신걸 환영합니다. <span sec:authentication="name" class="text-muted"></span> 님께 부여된 역할에 따라 메뉴이용이
        제한되는 점에 유의해주세요.
      </p>

      <p class="col-md-8 fs-5">
        <span>역할</span>
        <span th:each="role, status : ${loginUserRoles}"
              th:text="${role.getId()} + ' (' + ${role.description} + ')' + ${!status.last ? ', ': ''}"
              class="text-muted"></span>
      </p>
    </div>
  </div>
</section>
</body>

</html>
